.App {
  font-family: sans-serif;
  text-align: center;
  position: absolute;
  margin: auto;
  padding-top: 4rem;
}
#root {
  height: 100%;
}
html,
body {
  background: url("https://www.linkpicture.com/q/401911130_THINKING_FACE_BG_1920x1080.png");
  height: 100%;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
